/* Mobile CSS - general styles*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 1em 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

header .siteName a, footer a {
  color: #333;
  text-decoration: none;
  font-size: 2em;
}

#tools a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
}

.nav-container {
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  background-color: #fff;
  padding: 1em;
  margin: 2em auto;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 8px;
}

.hero-text h2 {
  color: rgba(77,4,5,255);
  font-weight: bold;
}

.hero-text button {
  background-color: rgba(77,4,5,255);
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 4px;
}

.content {
  text-align: center;
  padding: 1em;
}

.reviews, .upgrades {
  margin: 2em 0;
}

.reviews ul {
  list-style: none;
  padding: 0;
}

.reviews ul li {
  margin: 0.5em 0;
}

.upgrades h2 {
  margin-bottom: 1em;
}

.upgrade-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.upgrade-item {
  background-color: rgba(77,4,5,255);
  color: #fff;
  padding: 0.5em;
  text-align: center;
  border-radius: 8px;
  width: 120px;
}

.upgrade-item img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
}

.upgrade-item p {
  margin-top: 0.5em;
  font-weight: bold;
}

main h1 {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 0;
}

#inv-display {
  margin-top: 0;
  padding: 1em;
  background-color: #fff;
  list-style: none;
}

#inv-display {
  margin: 30px;
}

#inv-display li a {
  color: rgba(77,4,5,255);
}

#error-p {
  background-color: #fff;
  padding: 20px;
  margin: 0;
}

/* Inventory Detail Styles */
.inventory-detail {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.inventory-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.inventory-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.inventory-info {
  flex: 2;
  padding: 20px;
}

.inventory-info p {
  margin: 10px 0;
}

.inventory-info p strong {
  font-weight: bold;
}

/* Login Form Styles */
.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.flash-messages {
  background-color: #f8d7da;
  color: #721c24;
  padding: 1em;
  border: 1px solid #f5c6cb;
  margin-bottom: 1em;
  border-radius: 4px;
  text-align: left;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login-form-container form label {
  text-align: left;
}

.login-form-container form input {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 25px;
}

.login-form-container form button {
  padding: 0.5em 1em;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form-container form button:hover {
  background-color: #0056b3;
}

.login-form-container p {
  margin-top: 1em;
  text-align: center;
}

.login-form-container p a {
  color: #007bff;
  text-decoration: none;
}

.login-form-container p a:hover {
  text-decoration: underline;

}


/* Registration Form Styles */
.register-form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.register-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.register-form-container form label {
  text-align: left;
}

.register-form-container form input {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 25px;
}

.register-form-container form button {
  padding: 0.5em 1em;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-form-container form button:hover {
  background-color: #0056b3;
}

.register-form-container p {
  margin-top: 1em;
}

.register-form-container p a {
  color: #007bff;
  text-decoration: none;
}

.register-form-container p a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 2em;
}

/* Larger Screen Styles */
@media (min-width: 768px) {
  body {
    background-image: url('/images/site/checkerboard.jpg');
    background-size: cover;
    background-position: center;
  }

  nav ul li {
    margin: 0 2em;
  }

  nav ul li a {
    color: #fff;
  }

  .content {
    padding: 2em;
  }

  .reviews, .upgrades {
    display: flex;
    justify-content: space-between;
  }

  .reviews ul {
    text-align: left;
    width: 45%;
  }

  .upgrade-item {
    width: 120px;
  }

  .upgrade-item img {
    width: 100px;
    height: 100px;
  }

  .inventory-detail {
    flex-direction: row;
  }

  .inventory-image, .inventory-info {
    padding: 20px;
  }


/* Specific styles for flash messages */
.flash-messages {
  background-color: #f8d7da;
  color: #721c24;
  padding: 1em;
  border: 1px solid #f5c6cb;
  margin-bottom: 1em;
  border-radius: 4px;
  text-align: left;
}


  /* Specific styles for Inventory Management and Add Classification views */
.management-container {
  background-color: #fff;
  padding: 2em;
  margin: 2em auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Add Classification Form Styles */
/* Add Classification Form Styles */
.add-classification-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
}

.add-classification-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-classification-container form label {
  text-align: left;
}

.add-classification-container form input {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 25px;
}

.add-classification-container form button {
  padding: 0.5em 1em;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-classification-container form button:hover {
  background-color: #0056b3;
}

.add-classification-container p {
  margin-top: 1em;
}

.add-classification-container p a {
  color: #007bff;
  text-decoration: none;
}

.add-classification-container p a:hover {
  text-decoration: underline;
}

  .login-form-container form {
    flex-direction: column;
    align-items: center;
  }

  .login-form-container form label, .login-form-container form input, .login-form-container form button {
    width: 100%;
  }

  .login-form-container form input, .login-form-container form button {
    max-width: 400px;
  }

  .register-form-container form {
    flex-direction: column;
    align-items: center;
  }

  .register-form-container form label, .register-form-container form input, .register-form-container form button {
    width: 100%;
  }

  .register-form-container form input, .register-form-container form button {
    max-width: 400px;
  }
}



/* INVENTORY */

/* Add Inventory Form Styles */
.add-inventory-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.add-inventory-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-inventory-container form label {
  text-align: left;
}

.add-inventory-container form input,
.add-inventory-container form select,
.add-inventory-container form textarea {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 25px;
}

.add-inventory-container form button {
  padding: 0.5em 1em;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-inventory-container form button:hover {
  background-color: #0056b3;
}

@media (min-width: 1024px) {
  body {
    background-image: url('/images/site/checkerboard.jpg');
    background-size: cover;
    background-position: center;
  }

  .hero {
    position: relative;
  }

  .hero img {
    width: 100%;
    height: auto;
  }

  .hero-text {
    top: 20%;
    left: 20%;
    padding: 2em;
    font-size: larger;
  }

  .hero-text button {
    font-size: large;
  }

  .content {
    flex-direction: column;
    padding: 3em;
  }

  .featured-cars img {
    width: 25%;
  }

  .inventory-detail {
    flex-direction: row;
    max-width: 1200px;
    margin: 2em auto;
  }

  .inventory-image {
    flex: 1;
    max-width: 50%;
    text-align: center;
  }

  .inventory-info {
    flex: 1;
    max-width: 50%;
    padding: 20px;
  }
}
