
  <div class="management-container">
    <h1>Inventory Management</h1>

    <%- messages() %>

    <% if (errors) { %>
      <% errors.array().forEach(error => { %>
        <p class="alert-error"><%= error.msg %></p>
      <% }) %>
    <% } %>
    

    <div class="management-links">
      <p><a href="/inv/add-classification">Add New Classification</a></p>
      <p><a href="/inv/add-inventory">Add New Inventory</a></p>
    </div>
  </div>


